PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/smartmeet
JWT_SECRET=mysecretkey123
JWT_EXPIRE=30d


EMAIL_USER=*********@gmail.com
EMAIL_PASS=**************
GOOGLE_CLIENT_ID=277756923351-tral941ofgpi1o928v1lb6igs4c9jv8a.apps.googleusercontent.com
PORT=5000

MONGO_URI=mongodb://localhost:27017/smartmeet

JWT_SECRET=mySuperSecretKey123
JWT_EXPIRE=7d
GROQ_API_KEY=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

# Pinecone (free tier at pinecone.io)
PINECONE_API_KEY=pcsk_2PdnsM_3Zm7G8JEaAdSFTwaFjJMqFfYAjbTWAyXXk4N7FyLyMgMGcLNhKwZPNjG7RYGEtd
PINECONE_INDEX=smartmeet